<div class="row">
    <div class="col-xs-12 text-center">
        <img [src]=recipeForPreview.imagePath alt={{recipeForPreview.imagePath}}
            class="img-responsive img-circle img-thumbnail" style="max-height: 400px;">
    </div>

    <div class="col-xs-12 text-center">

        <h1 style="font-style: italic;font-family:Brush Script MT, Brush Script Std, cursive; font-size: 1cm;
        color: rgba(50, 7, 107, 0.897);">
            <span class="glyphicon glyphicon glyphicon-cutlery" style="color: black;"></span>
            {{recipeForPreview.name}}

        </h1>
    </div>

</div>