<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
                <li routerLinkActive="active"><a [routerLink]="'recipes'" style="cursor:pointer;">Recipes</a></li>
                <li routerLinkActive="active"><a [routerLink]="['shoppingList']" style="cursor:pointer;">Shopping
                        List</a></li>



                <!-- <li  routerLinkActive="active"><a  (click)="onSelectRecipieSection()" style="cursor:pointer;">Recipes</a></li>
                <li  routerLinkActive="active"><a (click)="onSelectShoppingListSection()" style="cursor:pointer;">Shopping List</a></li> -->
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li *ngIf="!isUserLoggedIn()"><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"
                            style="color: green;"></span> &nbsp; Login</a></li>
                <li *ngIf="!isUserLoggedIn()"><a routerLink="/signup"><span class="glyphicon glyphicon-user"
                            style="color: blue;"></span> &nbsp; SignUp</a></li>
                <li *ngIf="isUserLoggedIn()"><a (click)="onLogout()" style="cursor: pointer;"><span
                            class="glyphicon glyphicon-log-out" style="color: red;"></span> &nbsp;Logout</a></li>


                <li class="dropdown" appDropDown *ngIf="isUserLoggedIn()">
                    <a class="dropdown-toggle" role="button">ManageData <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a (click)="onSave()" style="cursor:pointer;">Save Data</a></li>
                        <li><a (click)="onFetch()" style="cursor:pointer;">Fetch Data</a></li>
                        <li><a (click)="onSampleTransform()" style="cursor:pointer;">Transformed Data</a></li>
                        
                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>